<h1>Editing Personal Info</h1>

<%= render 'form', personal_info: @personal_info %>

<%= link_to  @personal_info, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-eye-open"></span>
      Show
<% end %>

<%= link_to  personal_infos_path, :class => 'btn btn-warning' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
      Back
<% end %>
