<div class="container">
  <div class="page-header">
    <h1>Settings</h1>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading iframe-heading" id="panel_heading_site_infos">
        Site Infos (click to resize)
      </div>
      <div class="panel-body">
       <iframe src="/site_infos"  id='iframe_sites_infos' frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading iframe-heading" id="panel_heading_personal_infos">
        Personal Infos (click to resize)
      </div>
      <div class="panel-body">
        <iframe src="/personal_infos" id='iframe_personal_infos' frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading iframe-heading" id="panel_heading_experiences">
        Experiences (click to resize)
      </div>
      <div class="panel-body">
         <iframe src="/experiences" id='iframe_experiences' frameborder="0"></iframe>
      </div>
    </div>
  </div>

</div>

<% content_for :javascript do %>
    <script type='text/javascript'>
      swal("Awesome!");
      console.log("kkek");
    </script>

<% end %>

