<h1>Editing Experience</h1>

<%= render 'form', experience: @experience %>

<%= link_to @experience, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-eye-open"></span>
    Show
<% end %>

<%= link_to experiences_path , :class => 'btn btn-warning' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
<% end %>
